.canvas {
  width: 800px;
  height: 600px;
  display: block;
  border: 1px solid black;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
}
